.textContainer {
    display: flex;
    flex-direction: column;
}

.textContainer>* {
    opacity: 0;
}

.anim > * {
  opacity: 1;
}

.anim>*:first-child {
  transition: opacity .5s;
}

.anim>*:nth-child(2) {
  transition: opacity .5s .5s;
}

.anim>*:last-child {
  transition: opacity .5s 1s;
}